.boardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.chessBoard {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px;
    grid-template-rows: 70px 70px 70px 70px 70px 70px 70px 70px;
    border: 1px solid black;
}

.boardPiece {
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: 9;
}

.promotionPiece {
    width: 70px;
    height: 70px;
    z-index: 12;
}

.cell {
    height: 100%;
    width: 100%;
    text-align: center;
    /*font-size: 40px;*/
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: relative;
}

.cell:hover {
    cursor: pointer;
}

.whiteCell {
    background-color: white;
}

.greenCell {
    background-color: green;
}

.highlight {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 30%;
    border-radius: 50%;
    background-color: red;
    z-index: 10;
}

.alphabetCoord {
    position: absolute;
    bottom: -8px;
    right: 2px;
}

.numberCoord {
    position: absolute;
    top: -8px;
    left: 2px;
}

.focus {
    background-color: yellow;
}

.from {
    background-color: #f2ff00;
}

.ate {
    background-color: red;
}

.tooltip {
    width: 300px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: relative;
    z-index: 20;
    bottom: 10%;
    left: 50%;
    margin-left: -60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .chessBoard {
        grid-template-columns: 12.4vw 12.4vw 12.4vw 12.4vw 12.4vw 12.4vw 12.4vw 12.4vw;
        grid-template-rows: 12.4vw 12.4vw 12.4vw 12.4vw 12.4vw 12.4vw 12.4vw 12.4vw;
    }
    .boardPiece {
        width: 12.4vw;
        height: 12.4vw;
    }

    .promotionPiece {
        width: 12.4vw;
        height: 12.4vw;
    }
    .alphabetCoord {
        font-size: 8px;
    }

    .numberCoord {
        font-size: 8px;
    }
    .tooltip {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 0;
        margin-left: 0;
    }
}
